label{
    display: block;
}
#submit{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
#error{
    color: red;
}